In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r"E:\Users\Documents\College\Engineering\F.E. Eng\ACAIDS\Titanic (1).csv")

In [4]:
data.head(2)

      sex   age     fare  class  survived
0    male  22.0   7.2500  Third         0
1  female  38.0  71.2833  First         1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       713 non-null    float64
 2   fare      886 non-null    float64
 3   class     888 non-null    object
 4   survived  891 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

In [6]:
mean_age=data.age.mean()
mean_fare=data.fare.mean()

In [7]:
data.age.fillna(mean_age, inplace=True)
data.fare.fillna(mean_fare, inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       891 non-null    float64
 2   fare      891 non-null    float64
 3   class     888 non-null    object
 4   survived  891 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 34.9+ KB

In [9]:
newdata=pd.get_dummies(data)
newdata

,age,fare,survived,sex_female,sex_male,class_First,class_Second,class_Third
0,22.000000,7.2500,0,False,True,False,False,True
1,38.000000,71.2833,1,True,False,True,False,False
2,26.000000,7.9250,1,True,False,False,False,True
3,35.000000,53.1000,1,True,False,True,False,False
4,35.000000,8.0500,0,False,True,False,False,True
...,...,...,...,...,...,...,...,...
886,27.000000,13.0000,0,False,True,False,True,False
887,19.000000,30.0000,1,True,False,True,False,False
888,29.719734,23.4500,0,True,False,False,False,True
889,26.000000,30.0000,1,False,True,True,False,False
890,32.000000,7.7500,0,False,True,False,False,True

In [10]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           891 non-null    float64
 1   fare          891 non-null    float64
 2   survived      891 non-null    int64
 3   sex_female    891 non-null    bool
 4   sex_male      891 non-null    bool
 5   class_First   891 non-null    bool
 6   class_Second  891 non-null    bool
 7   class_Third   891 non-null    bool
dtypes: bool(5), float64(2), int64(1)
memory usage: 25.4 KB

In [11]:
x=newdata.drop("survived", axis="columns")
print(x)
y=newdata.survived
print(y)

           age     fare  sex_female  sex_male  class_First  class_Second  \
0    22.000000   7.2500       False      True        False         False
1    38.000000  71.2833        True     False         True         False
2    26.000000   7.9250        True     False        False         False
3    35.000000  53.1000        True     False         True         False
4    35.000000   8.0500       False      True        False         False
..         ...      ...         ...       ...          ...           ...
886  27.000000  13.0000       False      True        False          True
887  19.000000  30.0000        True     False         True         False
888  29.719734  23.4500        True     False        False         False
889  26.000000  30.0000       False      True         True         False
890  32.000000   7.7500       False      True        False         False

     class_Third
0           True
1          False
2           True
3          False
4           True
..           ...
886        False
887        False
888         True
889        False
890         True

[891 rows x 7 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.5, random_state=1)

In [23]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
dtc = DecisionTreeClassifier()
# dtc.fit(x_train, y_train)
# ytestp=dtc.predict(x_test)
# ytrainp=dtc.predict(x_train)
# from sklearn.metrics import accuracy_score
# print("Test Accuracy", accuracy_score(y_test, ytestp))
# print("Train Accuracy", accuracy_score(y_train, ytrainp))

food = {"veg":["lady","bringal"], "fruit":["apple","banana"]}
food

{'veg': ['lady', 'bringal'], 'fruit': ['apple', 'banana']}

In [28]:
param_dist={"criterion":["gini","entropy"], "max_depth":[1,2,3,4,5,6,7]}

In [29]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(dtc,param_grid=param_dist,cv=10,n_jobs=1)

In [30]:
grid.fit(x_train, y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7]})

In [31]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=4)

In [32]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 4}

In [34]:
ytestpred=grid.predict(x_test)
ytrainpred=grid.predict(x_train)

In [36]:
from sklearn.metrics import accuracy_score
print("Test Accuracy", accuracy_score(y_test, ytestpred))
print("Train Accuracy", accuracy_score(y_train, ytrainpred))

Test Accuracy 0.7937219730941704
Train Accuracy 0.8651685393258427