In [1]:
import pandas as pd
import numpy as np

In [2]:
data_car=pd.read_csv(r"E:\Users\Documents\College\Engineering\F.E. Eng\ACAIDS\used cars.csv")
print(data_car)

   kms_driven  mileage  engine  max_power  torque  price
0       56000     7.81    2996       2996     333  63.75
1       30615    17.40     999        999    9863   8.99
2       24000    20.68    1995       1995     188  23.75
3       18378    16.50    1353       1353   13808  13.56
4       44900    14.67    1798       1798   17746  24.00
5       42000    18.70    1199       1199     887   5.45
6       36739    18.90    1197       1197    8186   5.12
7       76000    15.80    1591       1591    1213   9.30
8       68000    13.50    2987       2987   25479  42.00
9       28783    17.00    1198       1198    1085   8.02

In [5]:
x=data_car.drop(["max_power","torque","price"], axis="columns")
print(x)

   kms_driven  mileage  engine
0       56000     7.81    2996
1       30615    17.40     999
2       24000    20.68    1995
3       18378    16.50    1353
4       44900    14.67    1798
5       42000    18.70    1199
6       36739    18.90    1197
7       76000    15.80    1591
8       68000    13.50    2987
9       28783    17.00    1198

In [7]:
y=data_car.drop(["kms_driven","mileage","engine"], axis="columns")
print(y)

   max_power  torque  price
0       2996     333  63.75
1        999    9863   8.99
2       1995     188  23.75
3       1353   13808  13.56
4       1798   17746  24.00
5       1199     887   5.45
6       1197    8186   5.12
7       1591    1213   9.30
8       2987   25479  42.00
9       1198    1085   8.02

# Importing library to split excel sheet in ratio

In [8]:
from sklearn.model_selection import train_test_split
x1,x2,y1,y2=train_test_split(x,y,test_size=0.4,random_state=1)

In [9]:
print(x1)
print(x2)
print(y1)
print(y2)

   kms_driven  mileage  engine
0       56000     7.81    2996
3       18378    16.50    1353
1       30615    17.40     999
7       76000    15.80    1591
8       68000    13.50    2987
5       42000    18.70    1199
   kms_driven  mileage  engine
2       24000    20.68    1995
9       28783    17.00    1198
6       36739    18.90    1197
4       44900    14.67    1798
   max_power  torque  price
0       2996     333  63.75
3       1353   13808  13.56
1        999    9863   8.99
7       1591    1213   9.30
8       2987   25479  42.00
5       1199     887   5.45
   max_power  torque  price
2       1995     188  23.75
9       1198    1085   8.02
6       1197    8186   5.12
4       1798   17746  24.00